/*applies font to whole page*/
*{font-family: Arial, Helvetica, sans-serif}

body {
    background: linear-gradient(0deg,#F5F1E4  80%,#A32638 20%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}
