/*applies font to whole page*/
*{font-family: Arial, Helvetica, sans-serif}

body {
    background: linear-gradient(0deg,#9A989A 80%,#A32638 20%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A32638;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #9A989A;
}

h1{
    text-align: center;
}